html {
  height: 100% 
}

body { 
  height: 100%; 
	margin: 0; 
	padding: 0 
}

#map-canvas { 
  height: 90% 
}

h1 {
	  argin: 1em 0 0.5em 0;
    color: #343434;
    font-weight: normal;
    font-family: 'Ultra', sans-serif;   
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    text-shadow: 0 2px white, 0 3px #777;
}